.container {
  display: flex;
  justify-content: center;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.title{
  font-size: 45px;
  color: rgb(69, 68, 68);
}
.search {
  
  width: 110%;
  padding: 20px 30px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  border: none;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  background-color: #ddd6e891;
}
.form{
  display: flex;
  justify-content: center;
}
.loupe{
  padding: 10px 20px;
  background-color: transparent;
  line-height: 18px;
  border: none;
  background-color: #ddd6e891;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.containerTwo{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.5rem;
  min-height: 95vh;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}
.wrapper{
  padding: 1.8%;
  flex-grow: 1;
  flex-basis: 16%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap; 
  background-color: #c4a3bce9;
  width: 350px;
  border-radius: 19px;
  font-family: 'Sail', cursive;
}
h1{
  font-family: 'Sail', cursive;
}
.label{
  background-color: #ddd6e891;
  color: rgb(69, 68, 68);
  padding:10px 10px ;
  border-radius: 10px;
}
.calories{
  font-family: 'Sail', cursive;
  font-size: 20px;
  letter-spacing: 2px;
}



@media all and(max-width:950){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media all and(max-width:900){
    .containerTwo{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
  
}
@media all and (max-width:850px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
@media all and (max-width:500px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
}}

@media all and (max-width:414px){
  .containerTwo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
